/* Center the form */

ConfigCheckingAccountScreen {
    align: center middle;
    width: 50%;
    margin: 1;
    padding: 1;
}

/* Add some margin to the inputs */
Input {
    margin: 1;
    width: 50%;
    color: white;
}

/* Style the buttons */
Button {
    background: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1;
    text-align: center;
    margin: 1;
    width: 50%;
}